<br>
<center>
  <h1>Add New Contacts</h1>
  <h3>Express JS dan SQLITE3 App</h3><br>
  <!-- <a href="../">Contact List</a> &nbsp; -->
  <table width='200'>
    <tr>
      <td>
        <form action="/contacts/add" method="post">
          <label >Full Name</label><br>
          <input type="text" name="fullname" placeholder="type name here"><br><br>
          <label >Company</label><br>
          <input type="text" name="company" placeholder="your company"><br><br>
          <label >Phone Number</label><br>
          <input type="text" name="phone" placeholder="ex:081"><br><br>
          <label >Email Address</label><br>
          <input type="text" name="email"><br><br>
          <button type="submit" name="button">Add Contact</button>
        </form>
      </td>
    </tr>
  </table>
</center>
