<form action="/groups/edit/<%= data.id %>" method="post">
  <label name='id' values = '<%= data.id %>'><%= data.id %> </label>
  <input type="text" name='name_of_group' value='<%= data.name_of_group %>'>
  <button type="submit">Submit</button>
</form>
