<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    
    <div class="container"><br/><br/>
      <h2 align="center">Hi, Welcome to</h2>
      <h3 align="center">Contact Group Application Center</h3>
      <ul class="pager" role="tablist">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/contacts">Contact</a></li>
      <li role="presentation"><a href="/groups">Group</a></li>
      <li role="presentation"><a href="/profiles">Profile</a></li>
      <li role="presentation"><a href="/address">Address</a></li>
    </ul>
    </div>
    
    
    <div class="container">
      <h3>Show Data Group</h3>
      <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name of Group</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% data_group.forEach(data => { %>
        <tr>
          <td><%= data.id%></td>
          <td><%= data.name_of_group%></td>
          <td><a href="/groups/edit/<%=data.id%>">Edit</a> || <a href="/groups/delete/<%=data.id%>" onclick="return confirm('Are you sure want to delete this group?');">Delete</a></td>
        </tr>
        <% })%>
      </tbody>
    </table>
    </div>
    
    <div class="container">    
    <form class="form-inline" action="/groups" method="post">
      <div class="form-group">
        <label>Group Name : </label>
      <input class="form-control" type="text" name="saveNameGroup" value="">
    </div>
      <button type="submit" name="button" class="btn btn-default">Add New Group</button>
    </form>
  </div>
  
  </body>
</html>
