<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to CONTACT app</title>
  </head>
  <body>
    <center>
    <h1>WELCOME to CONTACT app</h1>
    <h2>Choose your option</h2>
    <a href="/contact"><button type="Submit" name="Contact">Contact</button></a>
    <a href="/group"><button type="Submit" name="Group">Group</button></a>
    <a href="/profile"><button type="Submit" name="Profile">Profile</button></a>
    <a href="/address"><button type="Submit" name="Address">Address</button></a>
    <center>
  </body>
</html>
