<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Contact, Group, Addresses, Profile, Have a nice days :smile:</h1>
    <h3>
      <a href="contacts"><input type="button" value="CONTACTS"></a>  
      <a href="groups"><input type="button" value="GROUPS"></a> 
      <a href="profiles"><input type="button" value="PROFILES"></a>  
      <a href="addresses"><input type="button" value="ADDRESSES"></a></a>  
      <a href="contacts_groups"><input type="button" value="CONTACTS OF GROUPS"></a></a>  
      <a href="groups_contacts"><input type="button" value="GROUPS OF CONTACTS"></a></a>
    </h3>
  </body>
</html>