<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container"><br/><br/>
  <h2 align="center">Hi, Welcome to</h2>
  <h3 align="center">Contact Group Application Center</h3>
  <ul class="pager" role="tablist">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/contacts">Contact</a></li>
  <li role="presentation"><a href="/groups">Group</a></li>
  <li role="presentation"><a href="/profiles">Profile</a></li>
  <li role="presentation"><a href="/address">Address</a></li>
</ul>
</div>

</body>
</html>
