<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to my App!</h1>
        <a href="/contacts">See contacts</a>
        <a href="/groups">See groups</a>
        <a href="/profiles">See profiles</a>
        <a href="/addresses">See addresses</a>
    </body>
</html>
