<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome page</title>
  </head>
  <body>
    <h2>ini tugas express-contacts-groups-promise</h2>
    <h3><a href="/contacts">Contacts</a> | <a href="/groups">Groups</a> | <a href="/profiles">Profiles</a> | <a href="/addresses">Addresses</a></h3>
  </body>
</html>
