<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <br>
    <center>
      <h1>Express JS dan SQLITE3 App</h1>
      <h3>by Achim Baggins</h3><br>
      <a href="/contacts"><button class="btn btn-info">Show Contacts</button></a>
      <a href="/groups"><button class="btn btn-warning">Show Groups</button></a>
      <a href="/profile"><button class="btn btn-danger">Show Profile</button></a>
      <a href="/addresses"><button class="btn btn-success">Show Addresses</button></a><br><br>
      <a href="/my-contact-groups"><button class="btn btn-primary btn-lg">My Contact Group</button></a>
    </center>

  </body>
</html>
