<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%=titleTask%> </title>
  </head>
  <body>
    <h1>WELCOME TO MY PAGE</h1>
    <a href="/contacts">Contacts</a>
    <a href="/groups">Group</a>
    <a href="/profile">Profile</a>
    <a href="/address">Address</a>
    <a href="/contactGroup">Contact Group</a>
  </body>
</html>
