<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <h1>MY CONTACTS-GROUPS</h1>
    <button id="btn-start" onclick="window.location='/contacts'"><i class="fa fa-address-book"> My Contacts </i></button>
    <button id="btn-start" onclick="window.location='/profile'"><i class="fa fa-user"> My Profile Contacts </i></button>
    <button id="btn-start" onclick="window.location='/address'"><i class="fa fa-address-book"> My Addresses Contacts </i></button>
    <button id="btn-start" onclick="window.location='/groups'"><i class="fa fa-group"> My Groups</i></button>
    <button id="btn-start" onclick="window.location='/contactgroup'"><i class="fa fa-group"> My Contact-Groups</i></button>
  </body>
</html>
