<br>
<center>
  <h1>Add New Profile</h1>
  <h3>Express JS dan SQLITE3 App</h3><br>
  <!-- <a href="../">Contact List</a> &nbsp; -->
  <table width='200'>
    <tr>
      <td>
        <form action="/profile/add" method="post">
          <label >Username</label><br>
          <input type="text" name="username" placeholder="type your username"><br><br>
          <label >Password</label><br>
          <input type="password" name="password" placeholder="your password"><br><br>
          <label>First Name</label>
          <input type="text" name="firstname" placeholder="firstname"><br><br>
          <label>Last Name</label>
          <input type="text" name="lastname" placeholder="lastname"><br><br>
          <label >Contact ID</label><br>

          <!-- <input type="text" name="contact_id" placeholder="ex:081"><br><br> -->
          <select  name="contact_id"  >
            <option value="" disabled selected>Please select a name...</option>

            <% contacts_list.forEach(getData => { %>
              <option value="<%= getData.id %>"> ID : <%= getData.id %> - <%= getData.name %></option>
            <% }) %>
          </select>
        <br><br>
          <button type="submit" name="button">Add New Profile</button>
        </form>
      </td>
    </tr>
  </table>
</center>
